@import url('https://fonts.googleapis.com/css?family=Audiowide|Open+Sans:600&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Audiowide', cursive;
}
body {
  font-family: 'Open Sans', sans-serif;
}

button {
  margin: 0.5em;
  padding: 0.5em 3em 0.5em 3em;
  text-transform: uppercase;
  font-family: inherit;
}

.colContainer {
  display: grid inline-block;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  height: 90%;
  vertical-align: top;
}
.col {
  text-align: left;
  display: inline-block;
  width: 25%;
  margin: 0 0 0 5vw;
}

.stat {

}

.bot {
}
